{{define "title"}}ffff - Forbidden Flame/Flesh Finder{{end}} {{define "body"}}
<main id="main">
  <table>
    <thead>
      <tr>
        <th>Node</th>
        <th>Class</th>
        <th>Flesh</th>
        <th>Flame</th>
        <th>Trade</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Jewels }}
      <td>{{ .AllocatedNode }}</td>
      <td>{{ .JewelClass }}</td>
      <td>{{ currency .FleshPrice }}</td>
      <td>{{ currency .FlamePrice }}</td>
      <td><a href="#"></a></td>
      {{ end }}
    </tbody>
  </table>
</main>
{{end}}
